.b-header-h2 {
    position: relative;
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
}
.b-header-h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 45px;
    height: 2px;
    background-color: #ffffff;
}
.b-header-h2--black {
    color: #515f67;
}
.b-header-h2--black::after {
    background-color: #515f67;
}