.b-contact {
    background-color: #515f67;
    background-image: url("./blocks/b-contact/img/bg.png");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}
.b-contact__wrapper {
    margin: 0 auto;
    width: 1170px;
}
.b-contact__title {
    margin-bottom: 40px;
}
.b-contact__form {
    position: relative;
}
.b-contact__form-btn {
    background-color: #4bcaff;
    width: 370px;
    height: 60px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.b-contact__description {
    width: 531px;
    position: absolute;
    right: 0; top: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.b-contact__address {
    margin-top: 47px;
}