.b-twitter {
    background-color: #4bcaff;
    padding-top: 80px;
    padding-bottom: 76px;
}
.b-twitter__wrapper {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
.b-twitter__title {

}
.b-twitter__message {
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 0px;
    width: 1063px;
}
.b-twitter__link {
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}
.b-twitter__icon {
    position: absolute;
    top: 0px;
    right: 0px;
}