.b-portfolio {
    padding-bottom: 80px;
}
.b-portfolio__wrapper {
    width: 1170px;
    margin: 0 auto;
}
.b-portfolio__menu {
    background-color: #ffffff;
}
.b-portfolio__title {
    margin-top: 80px;
}
.b-portfolio__images {
    min-height: 570px;
}
.b-portfolio-images {
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.b-portfolio-images__picture {
    width: 270px;
    height: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    opacity: 0.8;
    background-blend-mode: normal;
}
.b-portfolio-images__picture:nth-child(4n) {
    margin-right: 0px;
}
.b-portfolio-images__picture:nth-child(1) {
    background-image: url("./blocks/b-portfolio/img/1.png");
}
.b-portfolio-images__picture:nth-child(2) {
    background-image: url("./blocks/b-portfolio/img/2.png");
}
.b-portfolio-images__picture:nth-child(3) {
    background-image: url("./blocks/b-portfolio/img/3.png");
}
.b-portfolio-images__picture:nth-child(4) {
    background-image: url("./blocks/b-portfolio/img/4.png");
}
.b-portfolio-images__picture:nth-child(5) {
    background-image: url("./blocks/b-portfolio/img/5.png");
}
.b-portfolio-images__picture:nth-child(6) {
    background-image: url("./blocks/b-portfolio/img/6.png");
}
.b-portfolio-images__picture:nth-child(7) {
    background-image: url("./blocks/b-portfolio/img/7.png");
}
.b-portfolio-images__picture:nth-child(8) {
    background-image: url("./blocks/b-portfolio/img/8.png");
}
.b-portfolio-images__picture:hover {
    background-image: url("./blocks/b-portfolio/img/hover.png");
    opacity: 0.8;
}