.tagline{height:650px;padding-top:250px}.tagline__wrapper{width:1170px;margin:0 auto}.tagline__text{text-align:center;font-size:42px;font-weight:300;line-height:75px;color:#ffffff;text-transform:uppercase;background-color:#414c53}