.b-who-list {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}
.b-who-list__item {
    width: 565px;
    margin-top: 0;
    padding-bottom: 36px;
}
.b-who-list__text {
    margin-top: 0;
}
