.tagline {
  height: 650px;
  padding-top: 250px;
  text-align: center;
}
.tagline__wrapper {
  width: 1170px;
  margin: 0 auto;
}
.tagline__text {
  opacity: 0.85;
  font-size: 42px;
  font-weight: 300;
  line-height: 75px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(65, 76, 83, 0.85);
}
