.b-who-list-icons {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
}
.b-who-list-icons__link {
    border: 2px solid #ffffff;
    display: inline-block;
    width: 64px;
    height: 64px;
    position: relative;
    margin-right: 20px;
}
.b-who-list-icons__link-img {
    position: absolute;
    top: 31%;
    left: 31%;
}