.b-quote {
    background-color: #ffffff;
    padding-top: 80px;
    padding-bottom: 79px;
}
.b-quote__wrapper {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}
.b-quote__title {
    
}
.b-quote__text {
    margin-top: 50px;
    color: #515f67;
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 37px;
}
.b-quote__autor {
    color: #4bcaff;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
}
.b-quote__icon {
    position: absolute;
    top: 0;
    right: 0;
}