.b-who {
    background-color: #353f47;
    // background-image: url("./blocks/b-who/img/photo.png");
    // background-size: cover;
    padding-top: 100px;
    padding-bottom: 173px;
    // height: 505px;
}
.b-who__wrapper {
    width: 1170px;
    margin: 0 auto;
}
.b-who__list {
    margin-top: 50px;
}