.nav-menu {
    height: 150px;
    opacity: 0.85;
}
.nav-menu__wrapper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-menu__logo {
    height: 150px;
    padding-top: 64px;
}
.nav-menu__image {
    width: 127px;
    height: 23px;
}
.nav-menu__list {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
}
.nav-menu__list--portfolio {
    padding-top: 84px;
}
.nav-menu__item {
    
    margin-right: 10px;
}
.nav-menu__item:last-child {
    margin-right: 0px;
}
.nav-menu__link {
    padding: 12px 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
.nav-menu__link--portfolio {
    color: #515f67;
}
.nav-menu__link--active {
    color: #4bcaff;
    outline: #4bcaff solid 2px;
}