.b-footer {
    background-color: #353f47;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 78px;
    padding-top: 78px;
}
.b-footer__wrapper {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
.b-footer__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}
.b-footer__item {
    border-right: 1px #515f67 solid;
    margin-left: 16px;
}
.b-footer__item:first-child {
    margin-left: 0;
}
.b-footer__item:last-child {
    border-right: none;
}
.b-footer__link {
    color: #515f67;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 16px;
    font-weight: 600;
}
.b-footer_link:last-child {
    border-right-width: 0;
}
.b-footer__copyright {
    color: #515f67;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
