.b-services {
  padding-top: 80px;
  padding-bottom: 77px;
  background-color: #4bcaff;
}
.b-services__wrapper {
  width: 1170px;
  margin: 0 auto;
}
.b-services__title {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
}
.b-services__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
}
.b-services__list {
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.b-services__item {
  color: #ffffff;
  margin-right: 42px;
}
.b-services__item:last-child {
  margin-right: 0;
}
.b-services__logo {
  padding-bottom: 18px;
}
.b-services__name {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 18px;
}
.b-services__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0;
  min-width: 259px;
}
