.b-form {

}
.b-form__label {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.b-form__input {
    border: 2px solid #ffffff;
    width: 470px;
    height: 60px;
    background-color: transparent;
    margin-bottom: 40px;
    opacity: 0.85;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px;
    cursor: default;
}
.b-form__input, .b-from__label {
    display: block;
}
.b-form__input-message {
    width: 1170px;
    height: 220px;
    padding-bottom: 40px;
    resize: none;
}
.b-form__form-btn {
    background-color: #4bcaff;
    width: 370px;
    height: 60px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}