.b-video-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #515f67;
}
.b-video-section__wrapper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.b-video-section__description {
    width: 468px;
}
.b-video-section__title {
    max-width: 470px;
}
.b-video-section__text {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 36px;
}
.b-video-section__link {
    text-decoration: none;
    color: #353f46;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 17px 40px;
    border: 2px solid #353f46;
}
.b-video-section__video {
    width: 560px;
    height: 313px;
    outline: 1px dotted black;
}

